.cache
CMakeFiles
auto_wah_output.wav
phaser_output.wav
rev_hall_output.wav
reverb_output.wav
tremolo_output.wav
flanger_output.wav
pitch_output.wav
compile_commands.json
MyCProj
CMakeCache.txt
cmake_install.cmake
settings.json
